<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a rel="noopener noreferrer" href="/" class="simple-text logo-normal">
      APSWREIS Portal
    </a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      {% if user.is_authenticated %}

      {% if user.is_superuser %}
      <li class="nav-item {% if 'index' == segment %} active {% endif %}">
        <a rel="noopener noreferrer" class="nav-link" href="/">
          <i class="material-icons">unarchive</i>
          <p>Applications</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-transfers' in segment %} active {% endif %}">
        <a rel="noopener noreferrer" class="nav-link" href="/ui-transfers.html">
          <i class="material-icons">unarchive</i>
          <p>Transfers List</p>
        </a>
      </li>

      <li class="nav-item {% if 'ui-admin' in segment %} active {% endif %}">
        <a rel="noopener noreferrer" class="nav-link" href="/admin/">
          <i class="material-icons">unarchive</i>
          <p>Go to Admin</p>
        </a>
      </li>
      {% else %}
      <!-- <li class="nav-item {% if 'newapp' in segment %} active {% endif %}">
        <a rel="noopener noreferrer" class="nav-link" href="/">
          <i class="material-icons">unarchive</i>
          <p>New Application</p>
        </a>
      </li> -->
      {% endif %}

      {% if user.is_superuser %}
      {% else %}
      <!-- <li class="nav-item {% if 'existapp' in segment %} active {% endif %}">
        <a rel="noopener noreferrer" class="nav-link" href="{% url 'existapp' %}">
          <i class="material-icons">unarchive</i>
          <p>Edit/Submit Application</p>
        </a>
      </li> -->
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="material-icons">directions_run</i>
          <p>Logout</p>
        </a>
      </li>

      <li class="nav-item active-pro">
        <a rel="noopener noreferrer" class="nav-link" href="/">
          <i class="material-icons">copyright</i>
          <p>APSWREIS</p>
        </a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a rel="noopener noreferrer" class="nav-link" href="/">
          <i class="material-icons">unarchive</i>
          <p>New Application</p>
        </a>
      </li>

      <li class="nav-item active">
        <a rel="noopener noreferrer" class="nav-link" href="{% url 'existapp' %}">
          <i class="material-icons">unarchive</i>
          <p>Edit/Submit Application</p>
        </a>
      </li>

      <li class="nav-item active">
        <a rel="noopener noreferrer" class="nav-link" href="{% url 'preference' %}">
          <i class="material-icons">unarchive</i>
          <p>Select Your Preference</p>
        </a>
      </li>

      <li class="nav-item active">
        <a rel="noopener noreferrer" class="nav-link" href="/admin/">
          <i class="material-icons">login</i>
          <p>Login as Admin</p>
        </a>
      </li>

      <li class="nav-item active">
        <a rel="noopener noreferrer" class="nav-link" href="{% url 'login' %}">
          <i class="material-icons">login</i>
          <p>Login</p>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>


</div>