{% extends "layouts/base.html" %}

{% block title %} Transfers List {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Transfers List</h4>
        <p class="card-category"> List of transfer based on the points.</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>ID</th>
              <th>School Name</th>
              <th>Designation</th>
              <th>Employee</th>
            </thead>
            <tbody>
              {% for row in list %}
              <tr>
                <td>{{row.id}}</td>
                <td>{{row.school}}</td>
                <td>{{row.designation.name}}</td>
                <td>{{row.employee}}</td>
              </tr>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}